<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706228529329-919nq5t3t88j1imc0d0r3237bg7krgd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706228529329-919nq5t3t88j1imc0d0r3237bg7krgd8</string>
	<key>API_KEY</key>
	<string>AIzaSyAiVx9xBBZj1pOS3E3Xy7arifRuP6O7HM4</string>
	<key>GCM_SENDER_ID</key>
	<string>706228529329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivam.Chat-Flash</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-5ec59</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-5ec59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706228529329:ios:adf68699aa133390cf1a90</string>
</dict>
</plist>